.navTop {
  background-color: #315796;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 9px 10px; */
}
.companyName2 {
  display: flex;
  justify-content: center;
  flex-direction: 'row';
  align-items: flex-end;
  height: 80vh;
  padding-bottom: 50px;
}
.logo {
  width: 130px;
  margin: 0;
}
.mainScroolBar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-end;
}
