/* #315796 */
.salom {
  margin-top: 50px;
}
.img2 {
  width: 100px;
  height: 80px;
}
.card2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 20px;
}
.card3 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: '100%';
}
.input2 {
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  outline: 1px;
  border: 1px solid rgb(141, 141, 141);
  width: 300px;
  margin-bottom: 50px;
}
.input22 {
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  outline: 1px;
  border: 1px solid rgb(141, 141, 141);
  flex: 1;
  margin-bottom: 50px;
}

.input333 {
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  outline: 1px;
  border: 1px solid rgb(141, 141, 141);
  flex: 1;
  margin-bottom: 50px;
  display: none;
}
.fileButton {
  background-color: #2065d1;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}
.buttonDel {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  padding: 0;
}
.input3 {
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  outline: 1px;
  border: 1px solid rgb(141, 141, 141);
  width: 400px;
  margin-bottom: 50px;
  margin: 10px 0 10px 10px;
}
.select-items {
  position: absolute;
  background-color: #313131;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.mainMassageCard {
  flex: 1;
  height: 350px;
  overflow: auto;
  padding: 20px 10px;
}
.someCard {
  display: flex;
  flex: 1;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #315796;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #020202;
}

.cardMassage2 {
  display: flex;
  justify-content: flex-end;
}

.cardMassage1 {
  display: flex;
  justify-content: flex-start;
}
.colorCard1 {
  background-color: #315796;
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  width: 400px;
}

.colorCard2 {
  background-color: rgb(66, 53, 255);
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  width: 400px;
}
.topUserCard {
  background-color: #315796;
  border-radius: 10px 10px 0 0;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
}

.word55 {
  margin: 0;
  padding: 0;
}
.card333 {
  display: flex;
}
.primary {
  background-color: #2065d1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
}

.warning {
  background-color: #eaea19;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: rgb(1, 1, 1);
}

.success {
  background-color: #43ea19;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: rgb(1, 1, 1);
}

.error {
  background-color: #e61616;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: rgb(255, 255, 255);
}

option:nth-child(1) {
  background-color: white;
  color: black;
}
option:nth-child(2) {
  background-color: white;
  color: black;
}
option:nth-child(3) {
  background-color: white;
  color: black;
}
option:nth-child(4) {
  background-color: white;
  color: black;
}

option:hover {
  background-color: white !important;
}
/* select option:hover {
  background-color: white;
} */
